<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
    <title>rslv</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
<header></header>
<main>
    <h1>rslv - Identifier Resolution Service</h1>
    <content>
    <p><code>rslv</code> is an identifier resolver service that takes a provided identifier,
        and matches it to a definition. If there is a successful match the service
        redirects to the registered target, or optionally presents information about the
        matched definition.</p>
    <p>Identifiers take the form:</p>
    <pre>
scheme:prefix/value
    </pre>
    <p>Matching definitions are found by exact comparison with the <code>scheme</code> and
    <code>prefix</code> parts of the identifier. A match on the <code>value</code>
    portion is made by finding the longest value in the definitions matching scheme
    and prefix that matches the start of the <code>value</code> of the identifier.
    </p>
    <p>The service API description is available at <a href="/api">/api</a>.
    </content>
</main>
<footer></footer>
</body>